APP_NAME="Looma App"
APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=https://looma.com

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=

AUTH_KEY=
SECURE_AUTH_KEY=
LOGGED_IN_KEY=
NONCE_KEY=
AUTH_SALT=
SECURE_AUTH_SALT=
LOGGED_IN_SALT=
NONCE_SALT=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"